# DEBUG - Set to `True` for detailed error messages during local development
#         Should be `False` for production

DEBUG=True

# Server settings
# BASE_URL - The IP address/host URL where the server is run.
# SERVER_PORT - the port the application will run on in Docker. Ignored in
#               local development
# K8S_INTERNAL_HOST - the internal Kubernetes host name for the pod
# to allow cross-stack HTTP communication (not used in local development).
BASE_URL=http://handle-local:3000/
SERVER_PORT=3000
K8S_INTERNAL_HOST=umd-handle-app

# HANDLE_HTTP_PROXY_BASE - The base URL (including a trailing slash) for the
# Handle.net proxy server associated with this application.
# For example: "https://hdl-test.lib.umd.edu/"
HANDLE_HTTP_PROXY_BASE=http://hdl-local.lib.umd.edu/

# SECRET_KEY - Secret key used for provide cryptographic signing.
#              Does not need to be set in local development, which will get
#              a randomly generated secret key.

# SECRET_KEY=

# Secret key used to generate JWT tokens
# Any value can be used as long as it is "sufficiently long",
# such as by running the following command in the console:
# uuidgen | shasum -a256 | cut -d' ' -f1
JWT_SECRET=

# SAML_KEY_FILE and SAML_CERT_FILE may be absolute or relative paths; if they
# are relative they are relative to the project root directory
# These can be downloaded from the handle-test-saml note in the Shared-SSDR
# folder on LastPass; note that local development uses the key and cert
# from the test server, so the file basename is handle-test-sp"
SAML_KEY_FILE=
SAML_CERT_FILE=
# absolute path to the xmlsec1 binary
# you can find this by running "which xmlsec1"
XMLSEC1_PATH=
# for local (i.e., non-HTTPS) development, we disable the secure cookie flag
SAML_SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=False

# Database settings - not needed for local development
#
# DB_ENGINE - specifies the database driver to use
# DB_NAME - the name (or filename, for Sqlite) of the database to connect to
# DB_USER - the user to connect to the database with
# DB_PASSWORD - the password to connect to the database with
# DB_HOST - the database host
# DB_PORT - the database port

# DB_ENGINE=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=

# Environment banner settings (intended for non-production environments)
#
# ENVIRONMENT_BANNER - the text to display in the banner. Comment out in
#                      (non-DEBUG environments) or leave empty (in DEBUG
#                      environments) to disable banner
# ENVIRONMENT_BANNER_FOREGROUND - CSS color code (i.e., '#fff') for the
#                                foreground text
# ENVIRONMENT_BANNER_FOREGROUND - CSS color code (i.e., '#008000') for the
#                                background text
# ENVIRONMENT_BANNER=
# ENVIRONMENT_BANNER_FOREGROUND=
# ENVIRONMENT_BANNER_BACKGROUND=
